pytest
pytest-mock

google-cloud-resource-manager>=1.14.0
google-cloud-secret-manager>=2.23.0
google-cloud-compute
google-cloud-storage
google-cloud-bigquery
google-cloud-secret-manager
google-cloud-resource-manager
google-cloud-artifact-registry
google-cloud-pubsub
google-cloud-container