Flask==3.1.1
gunicorn==23.0.0

google-cloud-logging==3.12.1
google-cloud-asset

PyYAML==6.0.2
jsonschema==4.25.0

pydantic==2.11.7

python-dotenv

google-api-python-client
google-cloud-compute
google-cloud-storage
google-cloud-bigquery
google-cloud-pubsub
google-cloud-artifact-registry
google-cloud-container
google-cloud-asset
google-cloud-tasks
google-cloud-resource-manager>=1.14.0
google-cloud-secret-manager>=2.23.0
google-cloud-kms
google-cloud-api-keys
google-cloud-appengine-admin
google-cloud-functions>=1.20.0

google-cloud-tasks>=2.18.0